<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png?v=alQ0k5l5jd">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png?v=alQ0k5l5jd">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png?v=alQ0k5l5jd">
<link rel="manifest" href="/images/favicon/site.webmanifest?v=alQ0k5l5jd">
<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg?v=alQ0k5l5jd" color="#fc0404">
<link rel="shortcut icon" href="/images/favicon/favicon.ico?v=alQ0k5l5jd">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/images/favicon/browserconfig.xml?v=alQ0k5l5jd">
<meta name="theme-color" content="#ffffff">
